<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="pt-br">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Footer</title>
</head>
<body>
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" th:fragment="footer">
      <div class="container">
        <div class="d-flex justify-content-center w-100">
          <span class="text-center nav-item text-white-50">Desenvolvido por Raquel - rm97373</span>
        </div>
      </div>
    </nav>
</body>
</html>
